body {
    font-family: 'Play', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #d2b48c;
    color: #b8860b;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
    color: #a0522d;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding: 12px;
    background-color: #ffffe0;
    border: 3px double #deb887;
    flex-wrap: wrap;
}

.foto {
    width: 40%;
}

.assunto {
    color: #a0522d;
    width: 80%;
}

.texto {
    width: 80%;
}

@media (min-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }

    .foto {
        width: 5%;
    }

    .assunto {
        width: 25%;
    }

    .texto {
        width: 70%;
    }
}